---
layout: layouts/home.njk
---
<section class="homepage">
  <div class="hero">
  <div class="logo-wrapper">
    <div class="logo">
      {{ metadata.heading }}
    </div>
  </div>

  <h1 class="homepage-title">
    Manda Putra
  </h1>

  <h2 class="homepage-subtitle">
    "Full stuck developer, linux gamer, maybe lurking on your server"
  </h2>
    
  </div>


  <div class="direction">
    <a href="/archives" class="button-cartoon">Writing</a>
    <a href="/gallery" class="button-cartoon">Gallery</a>
    <a href="/about" class="button-cartoon">Stuff</a>
    <a href="/stuff" class="button-cartoon">Me</a>
  </div>
</section>
