---
layout: layouts/base.njk
title: Slides
description: A list of my slide decks.
permalink: /slides/
---

<h1>Slides</h1>

{% set postslist = collections.presentation %}
{% include "postslist.njk" %}
