<ol class="postlist-wrapper" reversed>
{% for post in postslist | reverse %}
  <li class="postlist">
    <p>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
       {{ post.date | readableDate }}
      </time>
      <a class="postlist-title" href="{{ post.url | url }}">
        {% if post.data.title %} {{ post.data.title }} {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>

    </p>
  </li>
{% endfor %}
</ol>
