
body {
  background-color: $background-color;
  font-family: $base-font-family;
}

main {
  max-width: 65ch;
  padding: 2ch;
  margin: auto;
  position: relative;
  font-size: large;
}

p {
  margin: 0 0 1.75rem 0;
  line-height: 1.75;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  margin: 1rem 0;
  font-weight: 600;
}

li {
  line-height: 1.75;
}

.direct-link {
  font-size: 0.8rem;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  color: $background-color;
}

a {
  color: $tags-color;
}

table tr {
  background: $tags-color;
  border-bottom: 1px solid
}

table th, table td {
  padding: 10px 20px;
}

img {
  width: 100vw;
  max-width: 65ch;
  border-radius: $border-radius;
}

pre {
  border-radius: $border-radius;
}

code {
  font-family: monospace;
  border: 1px color $border-color;
  border-radius: $border-radius;
  background-color: $border-color;
  padding: .2em;
  color: $tags-color;
}

blockquote {
  margin: 1rem 0;
  background: $tags-color;
  border-left: 5px solid $border-color;
  color: $background-color;
  padding: 0.5em 10px;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: $border-radius;

  a {
    color: $background-color;
  }
}


blockquote:before {
  color: $background-color;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.header-wrapper {
  background-color: $tags-color;
  color: $background-color;
  border-top: 1rem $border-color solid;
  margin-top: -1.25em;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.4rem;

  // logo
  h1 {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;

    a {
      color: $background-color;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    li {
      margin: 0 0.5rem;
      a {
        color: $background-color;
        font-weight: 600;
      }
    }
  }
}

.footer-wrapper {
  margin-top: 2rem;
  background-color: $tags-color;
  padding: .5rem 0.4rem;
  color: $background-color;
  font-weight: 600;

  ul {
    display: flex;

    li {
      margin-right: 1rem;

      a {
        color: $background-color;
      }
    }
  }
}

.postlist-wrapper {
  display: flex;
  flex-direction: column;

  .postlist {
    p {
      line-height: 1.5;
      margin: 0;
    }

    margin: .5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

      .postlist-title {
        text-decoration: none;
      }

  }
}

article {
  header {
    margin-bottom: 1.75rem;
  }
  .date {
    margin: 0;
  }

  .postlist-tag {
    margin-right: 0.5rem;
    text-decoration: none;
    background-color: $tags-color;
    color: $background-color;
    padding: 0 .3em;
    border-radius: $border-radius;
  }
  
  li {
    margin-bottom: 0.5rem;
  }

  li:last-child {
    margin-bottom: 1.75rem;
  }

  li::before {
    content: '-';
    margin-right: 0.5em;
  }
}
// the .full-bleed utilities
// make full bleed on mobile / tablet device
@include media-query($on-palm) {
  img {
    max-width: 100ch;
    position: relative;
    left: 50%;
    margin-left: -50vw !important;
  }

  iframe {
    width: 100vw !important;
    position: relative;
    left: 50%;
    margin-left: -50vw !important;
  }
}

@include media-query($on-super-small) {
  main {
    font-size: medium;
  }

  .header-wrapper {
    flex-direction: column;
    text-align: center;
    
    h1 {
      font-size: 1em;
      margin-bottom: .5em;
    }

    ul {
      margin: 0 auto;
    }
  }
}
