// DEFAUTL STYLE
header {
  max-width: 65ch;
  padding: 2ch  2ch 0ch 2ch;
  margin: auto;
  position: relative;

  .logo-wrapper {
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    border-radius: $border-radius-medium;
    background-color: $blue;
    color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 1rem 0;
    border: 0.2rem solid $dark-blue;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      width: 5rem;
      height: 2.2rem;
      border-radius: $border-radius-medium;
      background-color: $blue;
      z-index: -1;
      border: 0.2rem solid $dark-blue;
    }

    .logo {
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

main {
  max-width: 65ch;
  padding: 1ch 2ch 0ch 2ch;
  margin: auto;
  position: relative;

  // Archives List
  .postlist-wrapper {
    .postlist {
      padding: 0.5ch;
      margin-bottom: 0.5rem;
      .postlist-title {
        color: $dark-blue;
      }
    }
  }
}

