// DEFAUTL STYLE
h1 {
  font-size: $h1;
}

a {
  color: $black;

  &:hover {
    color: $blue;
  }

  &:visited {
    color:  $dark-blue;
  }

  &:active {
    color: $blue;
  }
}

a.direct-link {
  font-size: 1rem;
}

// ARTICLE
article {
  header {
    display: block;
    padding: 0;
    margin-bottom: 2rem;

    p.date {
      display: block;
    }

    h1 {
      display: block;
    }

    .postlist-tag {
      text-decoration: none;
      background-color: $dark-blue;
      color: $white;
      padding: 0.2rem 0.3rem;
      border-radius: $border-radius-small;
    }
  }

  h2 {
    font-size: $h2;
    margin-bottom: 1rem;
  }

  pre {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;

    b {
      font-weight: bold;
    }

  }

  code {
    font-size: 1rem;
    background-color: $dark-blue;
    border-radius: $border-radius-small;
    color: $white;
    padding: 0.2rem 0.3rem;
    font-family: $code-font-family;
  }

  pre {
    border-radius: $border-radius-small;
    margin-bottom: 1rem !important;
  }
  
  blockquote {
      background: $bright-blue;
      border-left: 10px solid $dark-blue;
      margin-bottom: 1rem;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";

      &:before {
        color: $dark-blue;
        content: open-quote;
        font-size: 2rem;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }

      p {
        display: inline;
      }
  }


  p img {
    max-width: 100%;;
  }

  ul {
    margin-bottom: 1rem;
    list-style: square outside none;
  }

  ol {
    margin-bottom: 1rem;
    list-style-type: decimal;
  }

  ol li {
    margin-bottom: 0.5rem;
  }
}


header {
  max-width: 65ch;
  padding: 2ch  2ch 0ch 2ch;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;

  nav {
    ol > li > a {
      color: $black;

      &:visited {
        color: $black;
      }
    }
  }

  .logo-wrapper {
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    border-radius: $border-radius-medium;
    background-color: $blue;
    color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 1rem 0;
    border: 0.2rem solid $dark-blue;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      width: 5rem;
      height: 2.2rem;
      border-radius: $border-radius-medium;
      background-color: $blue;
      z-index: -1;
      border: 0.2rem solid $dark-blue;
    }

    .logo {
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

main {
  max-width: 65ch;
  padding: 1ch 2ch 0ch 2ch;
  margin: auto;
  position: relative;

  // Archives List
  .postlist-wrapper {
    .postlist {
      padding: 0.5ch;
      margin-bottom: 0.5rem;
      .postlist-date {
        font-weight: bold;
      }
      .postlist-title {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $blue;
        }
      }

      .postlist-descriptions {
        color: $blue;
      }
    }
  }
}

