// storing variables and mixins
@charset "utf-8";

// Our variables
$base-font-family: "Atkinson Hyperlegible Regular", Arial, Helvetica, sans-serif;
$code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
// $base-font-family: sans-serif;

$white:                 #f4eeff;
$dark-blue:             #424874;
$blue:                  #a6b1e1;
$bright-blue:           #dcd6f7;

$black:                 #312c51;
$yellow:                #fecd1a;
$pink:                  #ffacb7;

$code-background: 				#2d2d2d;

$border-radius-small: 8px;
$border-radius-medium: 15px;
$border-radius-round: 100%;

// font-size
$h1: 1.8rem;
$h2: 1.5rem;
$h3: 1.2rem;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$on-palm: 880px;
$on-super-small: 500px;

// Import partials from `sass_dir` (defaults to `_sass`)

// MIXINS

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

$font-path: '../fonts/Atkinson-Hyperlegible-Regular-102';
@include font-face("Atkinson Hyperlegible Regular", $font-path)


body {
  background-color: $white;
  font-family: $base-font-family;
  font-size: 18px;
  color: $black;
  line-height: 1.7;
}
