// storing variables and mixins
@charset "utf-8";

// Our variables
$base-font-family: sans-serif;

$white:                 #f4eeff;
$dark-blue:             #424874;
$blue:                  #a6b1e1;
$bright-blue:           #dcd6f7;
$black:                 #312c51;

$yellow:                #fecd1a;
$pink:                  #ffacb7;

// Pallete 2


$border-radius-small: 8px;
$border-radius-medium: 15px;
$border-radius-round: 100%;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$on-palm: 880px;
$on-super-small: 500px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
