<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Can you beat the machine?</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/explore-can-you-win-against-the-machine.css" rel="stylesheet">
</head>

<body>

  <!-- App Idea:
    - an interactive blog with bahasa indonesia and english, that demonstrate the online gambling is just a fraud and pyscho games
    - using GSAP as animation engine
    - black background
  -->

  <!-- Welcome screen sections idea:
    A title, cartoony fonts with a bit of animation using GSAP
    -->
  <section id="welcome-screen">
    <h1>Can you beat the machine?</h1>
    <p>
      Countless time I tell my friends that you have 0.00000001%. Of winning a lottery machine game.
      Some of them got stressed because didnt have any money to top up their balance again,
      Some of them go to jail,
      Some of them kill themself, ought of shame.
      There at least 20million people like this in Indonesia
    </p>
    <p>
      Everybody wants go big or go home scenario, dreaming of countless luck that tupple one by one to them
    </p>
    <p>
      A nonsense
    </p>
    <p>
      Everybody wants that lucky money, cause money makes every problem goes away (if you dont have any)</p>
    <p>
      Why? That question will be answered here, the strategy, the pyscologhy, and why you are a part of the game too
    </p>
    <button type="submit">Start</button>
  </section>

  <section>
    <h1>Background about me?</h1>

    <p>I was person that believed in that too, playing gambling</p>
    <p>but my kind of gambling is not something this easy</p>
    <p>there is a lot of money games in billiard, you can see lot of videos on youtube</p>
  </section>

</body>

</html>
